# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/JavaApplication2/nbproject/private/
/JavaApplication2/build/
/PR1 Date Only/nbproject/private/
/Home Work/Home Work 1/PR1 Date Only/nbproject/private/
/Home Work/Home Work 1/PR1 Date Only/build/
/Home Work/Home Work 1/PR1_2 Iterating the Arguments/nbproject/private/
/Home Work/Home Work 1/PR1_4 Area of a Circle/nbproject/private/
/Home Work/Home Work 1/PR1_4 Area of a Circle/build/
/Home Work/Home Work 1/PR1_4 Area of a Circle/dist/
/Home Work/Home Work 1/PR1_5 Random Numbers/nbproject/private/
/Home Work/Home Work 1/PR1_5 Random Numbers/build/
/Home Work/Home Work 1/PR1_6 Prime Numbers/nbproject/private/
/Home Work/Home Work 1/PR1_6 Prime Numbers/build/
/Home Work/Home Work 1/PR1_2 Iterating the Arguments/build/
/Home Work/Home Work 1/PR1_2 Iterating the Arguments/dist/
/Home Work/Home Work 2/PR2_5/nbproject/private/
/Home Work/Home Work 2/PR2_5/build/
/Home Work/Home Work 2/PR2_6/nbproject/private/
/Home Work/Home Work 2/PR2_6/build/
/Home Work/Home Work 2/PR3_1/nbproject/private/
/Home Work/Home Work 2/PR3_1/build/
/Home Work/Home Work 2/PR3_2/nbproject/private/
/Home Work/Home Work 2/PR3_2/build/
/Home Work/Home Work 3/PR3_3/nbproject/private/
/Home Work/Home Work 3/PR3_3/build/
/Home Work/Test/Test/nbproject/private/
/Home Work/Test/Test/build/
/Home Work/Home Work 4/RestaurantReviewer/nbproject/private/
/Home Work/Test/GuiProject/nbproject/private/
/Home Work/Test/GuiProject/build/
/Home Work/Home Work 4/RestaurantReviewer/build/
/InClass/JavaApplication12/nbproject/private/
/InClass/drwaApp/nbproject/private/
/InClass/drwaApp/build/
/exploring/Audio Test/build/
/exploring/Audio Test/nbproject/private/
/exploring/File Chooser/nbproject/private/
/exploring/File Chooser/build/
/exploring/jtreeProj/nbproject/private/
/exploring/jtreeProj/build/
/exploring/jt/nbproject/private/
/exploring/cancatenater/nbproject/private/
/exploring/cancatenater/build/
/exploring/mixingTest/nbproject/private/
/exploring/mixingTest/build/
/HomeWork/Home Work 3/PR3_3/nbproject/private/
/HomeWork/Home Work 2/PR2_6/nbproject/private/
/HomeWork/Home Work 2/PR2_6/build/
/exploring/MixTest2/nbproject/private/
/exploring/MixTest2/build/
/exploring/MixTest2/dist/
/exploring/MixTest3/nbproject/private/
/exploring/MixTest3/build/